/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-ene-2018, 18:37:32
    Author     : pererumbo
*/

AnchorPane {
    
    -fx-background-image: url("LogIn.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 911 510;
    
    
}
.button {
-fx-text-fill: white;
-fx-font-family: arial, sans-serif;
-fx-font-weight: bold;
-fx-base: #706e6a;
-fx-wrap-text: true;
-fx-padding: 10;
-fx-backgroundRadius: 10;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 7, 0.0, 0,1);
}

.button .text{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 7, 0.0, 0,1);
}

.button:hover {
        -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#close {
    -fx-opacity:0;
    -fx-background-radius: 5em;
}

#close:hover {
    -fx-opacity:0.2;
    -fx-stroke: #555555;
    -fx-stroke-width:3;
}