/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-ene-2018, 0:55:36
    Author     : pererumbo
*/

@font-face {
    font-family: Adventure;
    src: url("Adventure.otf");
}

Label {
    
    -fx-font-family: "Adventure", Arial;
    -fx-font-size: 2em;
    -fx-text-fill:
        linear-gradient(to bottom, #CCCCCC 0%, #FEFEFE 30%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 7, 0.0, 2,2);
}

Label .text {
    
    -fx-stroke: #555555;
    -fx-stroke-width: .5;
}

#mastermind {

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.6), 7, 0.0, 5,5);

}

#music {
    
    -fx-font-family: "Adventure";
    -fx-font-size: 2.5em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 7, 0.0, 2,2);
    -fx-text-fill:
        linear-gradient(to bottom, #CCCCCC 0%, #FEFEFE 30%); 
}

#music .text {
    -fx-stroke: #555555;
    -fx-stroke-width: .5;
}

#difficultyLabel{
    
    -fx-font-family: "Adventure";
    -fx-font-size: 3.5em;
    -fx-text-fill:
        linear-gradient(to bottom, #CCCCCC 0%, #FEFEFE 30%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 7, 0.0, 0,1);
}

#difficultyLabel .text{
    
    -fx-stroke: #555555;
    -fx-stroke-width: .5;
}

AnchorPane {
    
    -fx-stroke: #044C1F;
    -fx-stroke-width: 1;
    -fx-background-color:
        linear-gradient(to bottom, #fda085 0%, #FEFEFE 50%),
        linear-gradient(to top, #f6d365 0%, #fda085 50%);
}

#rankingPane .table-cell {
    -fx-alignment: CENTER;
}

#back {
    -fx-opacity: 0.2;
    -fx-background-image:url("white.jpg");
    -fx-background-size: 2000 2000;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-base: #706e6a;
    -fx-wrap-text: true;
    -fx-padding: 15;
    -fx-backgroundRadius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 7, 0.0, 0,1);
}

.button:hover {
        -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.button .text{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 7, 0.0, 0,1);
}

#rankingTable {
    
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,.5), 5, 0.0, 3,2);
    -fx-font-family: arial, sans-serif;
}

TextField {
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-border-color: rgba(50,50,50,0.3);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.1), 7, 0.0, 0,1);
    -fx-font-family: Arial;
    -fx-font-size: 1.2em;
}