/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-ene-2018, 0:55:36
    Author     : pererumbo
*/

AnchorPane {
    
    /*-fx-back  ground-insets: 0 0 -50 -50, 2 0 0 0;*/
    -fx-stroke: #044C1F;
    -fx-stroke-width: 20;
    -fx-background-color:
        linear-gradient(to bottom, #fda085 0%, #FEFEFE 50%),
        linear-gradient(to top, #f6d365 0%, #fda085 50%);
}

#back {
    -fx-opacity: 0.05;
    -fx-background-image:url("marble.jpg");
}


.button {
-fx-text-fill: white;
-fx-font-family: arial, sans-serif;
-fx-font-weight: bold;
-fx-base: #706e6a;
-fx-wrap-text: true;
-fx-padding: 10;
-fx-backgroundRadius: 10;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 7, 0.0, 0,1);
}

.button:hover {
        -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}